/* Common styles */
@import url('./reset.css');
@import url('./base.css');


.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #ddd;
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

.load-more {
  display: block;
  margin: 50px auto;

  padding: 8px 25px;
  color: #fff;
  background-color: #ff0000;
  cursor: pointer;
}

.load-more:hover,
.load-more:focus {
  background-color: #ff6c6c;
}

.hidden {
  display: none;
}